@import './boxes.css';

.login-header {
    display: flex;
    align-items: flex-start;
    width: 100%;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: var(--40, 40px);
    flex-shrink: 0; 
    border-radius: 20px;
    background-color: var(--Color-2, #7986CB); 
    cursor: pointer;
    /* Typography */
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.login-button:hover {
  background-color: #1A237E;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.need-account-frame {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

.need-account {
    color: rgba(0, 0, 0, 0.38);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.join-now {
    color: var(--Color-2, #7986CB);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    cursor: pointer;
}

.join-now:hover {
    color: #1A237E;
}

.error-field {
    color: red;
}